{
	'PrintConfigAtStartUp': 1,
	'Verbose':              1,
	'Host':                 '127.0.0.1',
	'Port':                 8086,
	'PlugIns':              [],
	'PlugInDirs':           ['%(WebwarePath)s'],
	'StartServerThreads':   10,
	'MaxServerThreads':     20,
	'MinServerThreads':     5,
	'CheckInterval':        100,
	'AutoReload':           0,
}
