{
	'html': {
		'tabSubstitute': ' '*4,  # eg, 4 spaces per tab
		'file': ('''
<html>
	<head>
		<title>%(filename)s</title>
		<style type="text/css">
			.Line_class {
			}

			.Line_category {
				color: 11B;
			}

			.Line_def {
			}

			.Name_class {
				color: 909;
				font-weight: bold;
			}

			.Name_def {
				color: 909;
				font-weight: bold;
			}
		</style>
	</head>
<body>
<pre>''',

'''</pre> </body> </html>'''),

		'class':    ('\n\n', ''),
		'def':      ('', ''),
		'category': ('\n', ''),
	},


	'text': {
		'tabSubstitute': ' '*4,  # eg, 4 spaces per tab
		'file':          ('', ''),
		'class':         ('\n\n', ''),
		'def':           ('', ''),
		'category':      ('\n', ''),
	},
}
